---
title : 3mr 5aled - مبرمج و مصمم
lang : ar
dir : rtl
headerFile : header-ar
footerFile : footer-ar
---
extends ./_includes/layouts/base-ar.pug

block content
    script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12")
    section.main
        .mainImg
            img.facelogo(src="/assets/images/main.png" alt="face logo")
            img.codelogo(src="/assets/images/code.webp" alt="code icon")
            img.editlogo(src="/assets/images/edit.webp" alt="code icon")
        div
            h2 أهلا ، انا عمرو خالد
                br
                div انا&nbsp;
                span.auto-type-ar
            h3 انا أبني مواقع و أصنع فناً
            a.main-btn(href="#projects") إلق نظرة علي عملي
            .social-icons
                a(rel="noopener" target="_blank" href="https://www.linkedin.com/in/3mr5aled/")
                    i.fab.fa-linkedin
                a(href="#contact")
                    i.fa-solid.fa-envelope
                a(rel="noopener" target="_blank" href="https://t.me/offical3mr5aled")
                    i.fa-brands.fa-telegram
                a(rel="noopener" target="_blank" href="https://github.com/3mr-5aled")
                    i.fab.fa-github
                a(href="https://www.buymeacoffee.com/3mr5aled" target="_blank" rel="noopener noreferrer")
                    i.fa.fa-coffee
                    a(href="#about")
                        .down-arrow
    section#about.about
        h2.title نبذة عني
        .content.hidden
            .card
                for about in collections.about
                    h2.infoHeader
                        | !{about.data.h2Ar}
                    h3.infoHeader
                        | !{about.data.h3Ar}
                    ul !{about.data.contentAr}

    //
        <div class="custom-shape-divider-top-1644089374" style="background-color:var(--main-color)">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill" style="fill:$fourth-color;"></path>
        </svg>
        </div>
    section#skills.Skills
        h2.title Skills
        div.content.hidden
            div.card
                h2
                    i.fas.fa-code
                    | البرمجة
                i.fab.fa-html5
                p HTML
                .container
                    .skill.html(style="width:0;" data-width="90%") 90%
                i.fab.fa-css3-alt
                p CSS
                .container
                    .skill.css(style="width:0;" data-width="80%") 80%
                i.fab.fa-js-square
                p JavaScript
                .container
                    .skill.js(style="width:0;" data-width="55%") 55%
            div.card
                h2
                    i.fas.fa-photo-film
                    | مهارات أخرى
                i.fas.fa-pen-ruler
                p تعديل الصور
                .container
                    .skill.photo(style="width:0;" data-width="85%") 85%
                i.fas.fa-film
                p تعديل الفيديوهات
                .container
                    .skill.video(style="width:0;" data-width="55%") 55%
                i.fas.fa-display
                p مهارات الكمبيوتر
                .container
                    .skill.computer(style="width:0;" data-width="95%") 95%
    section#projects.projects
        h2.title المشاريع
        .content
            for post in collections.post
                .project-card.hidden.cardImage
                    .imageOne.projectImage 
                        img(src=post.data.img alt=post.data.title)
                    .project-info
                        p.project-category !{post.data.tag}
                        strong.project-title
                            span !{post.data.title}
                            a.more-details(href=post.data.link) المزيد من التفاصيل

    section#contact.cards.contact
        h2.title تواصل
        .contactForm.hidden
            h1 لنتحدث سويًا
            form.form(action="https://formsubmit.io/send/5edcd4cc-74fc-4787-8aee-79d9f4c8fade" method="POST")
                input#name(name="_redirect" type="hidden" value="https://3mr5aled.netlify.app/formsubmission.html")
                input(type="text" name="Name" placeholder="الإسم بالكامل", required)
                input(type="email" name="Email" placeholder="البريد الإلكتروني", required)
                // spam fooler
                input(name="_formsubmit_id" type="text" style="display:none")
                input(type="text" name="Subject" placeholder="العنوان", required)
                textarea(name="Message" placeholder="الرسالة", required)
                button(type="submit") ارسل

    script.
        // Typing effect
        var typed = new Typed(".auto-type-ar", {
        strings: ["مبرمج !", "مصمم !", "مبتكر !"],
        typeSpeed: 150,
        backSpeed: 150,
        loop: true,
        });